<?php
	# I'm guessing that eventually more elaborate configuration will be needed
	# since the mk-digest db might live on an entirely different host. That's
	# not the case for us right now, so we'll make that case work later
	# - Mike 2010-04-04

	# these are default values; they can be overridden on a per-host basis
	$conf['db_user'] = ''; # user with which to login
	$conf['db_password'] = ''; # password
	$conf['db_database_mk'] = ''; # database in which the mk-query-digest tables live
	$conf['db_database_live'] = ''; # database in which the actual data lives, for EXPLAIN purposes
	# mk-query-digest lets you customize table names
	$conf['db_query_review_table'] = 'query_review';
	$conf['db_query_review_history_table'] = 'query_review_history';

	# You can aggregate the review tables for many db instances in a single db.
	# In that case, ishmael will auto-generate the list of hosts based on the
	# contents of the aggregate db. $conf['hosts'] will not be used.
	#
	# If you have db{1..20}, use table names like db1_query_review. 
	# define db_central_host and add a wildcard to the table definitions:
	#
	# $conf['db_central_host'] = ''; # only define if aggregating many hosts to one db
	# $conf['db_query_review_table'] = '%query_review';
	# $conf['db_query_review_history_table'] = '%query_review_history';

	$conf['hosts'] = array(
		'sample.host' => array(
			# leave empty to use defaults if your cluster is homogeneous
			# otherwise use the same keys as the defaults to override
			# 'db_user' => 'foo',
			# 'db_password' => 'blah',
			# values available only at the host level:
			# 'port' => '3308', # optional if using a non-default port
			# 'label' => 'shard1a' # used for easier host identification
		)
	);
