html {
	margin: 0;
	font-family: verdana, arial;
	font-size: 12px;
}
body {
	margin: 0;
}
#content_wrapper {
	padding: 5px;
}
#title_bar {
	background-color: #444444;
	color: #F0F0F0;
	margin: 0;
	padding: 5px;
}
#title_bar h1 {
	margin: 0;
	padding: 0;
	display: inline;
}
#title_bar form {
	display: inline;
	float: right;
	margin-top: 5px;
}
#hours {
	width: 30px;
	border: 1px solid #f0f0f0;
	text-align: center;
}
#footer {
	margin: 10px 0;
	text-align: center;
	color: #c0c0c0;
}
#footer a {
	color: inherit;
}
#footer hr {
	width: 50%;
	border: 1px solid #C0C0C0;
	border-width: 1px 0 0 0;
}
small {
	color: #C0C0C0;
}
table {
	width: 100%;
}
td {
}
tr.alt {
	background-color: #F0F0F0;
}
th {
	border-bottom: 2px solid #444444;
	background-color: #F0F0F0;
	text-align: left;
	color: #444444;
	padding: 0 5px;
	white-space: nowrap;
}
th.sorted {
	background-color: #444444;
	color: #f0f0f0;
}
th.sorted a {
	color: #f0f0f0;
}

th.horiz {
	border: 0;
	width: 10%;
}
th a {
	text-decoration: none;
	color: #0000FF;
}
canvas {
	margin: 0 auto 0 auto;
}
.query {
	font-family: Monaco, Monospace, "Courier New";
	font-size: 12px;
}
.query .comment {
	color: #c0c0c0;
}
.query .keyword {
	font-weight: bold;
	color: #444444;
	text-transform: uppercase;
}
.graph_container {
	text-align: center;
}